<p-table *ngIf="this.service.quotes.length>0" [value]='this.service.quotes' [tableStyle]="{'min-width': '30rem'}" class="text-center">
    <ng-template pTemplate="header">
        <tr>
            <th>Idézetek</th>
            <th>Szerző</th>
            <th>Beküldő</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quote>
        <tr>
            <td class="td">{{quote.quote}}</td>
            <td>{{quote.author}}</td>
            <td>{{quote.currentUser}}</td>
        </tr>
    </ng-template>
</p-table>

<p class="text-center" *ngIf="this.service.quotes.length==0">...Loading</p>